// Colors
$base-color: #2563EB;
$accent-color: #0f172a;
$background-color: #e0f2fe;
$gradient: linear-gradient(135deg, #2563EB, #00c6ff);
$white-color: #dbd8d8;
$grey-color: #707070;

// Layout
$container-max-width: 1024px;

// Breakpoints
$mobile: 580px;
$almost-mobile: 810px;
$navbar-min-desktop: 950px;
$tablet: 1024px;


//typography
$font-family-base: 'Roboto', sans-serif;
$font-family-heading: 'Inter', sans-serif;
$font-size-small: 18px;
$font-size-base: 24px;
$font-size-heading: 60px;
$line-height-base: 1.1;
$heading-color: #333;
$body-color: #666;
$heading-font-weight: 600;
$body-font-weight: 400;