---
import { languages, getLanguageFromURL, useTranslations } from "../i18n/utils";
import Cta from "./cta.astro";

const { pathname } = Astro.url;
const currentLang = getLanguageFromURL(pathname);
const t = useTranslations(currentLang);
---

<style lang="scss">
    @import "../styles/variables.scss";
    #about {
        min-height: 100vh;
    }
    .container {
        padding-bottom: 90px;
        padding-top: 90px; /* 70px del header + 20px de espacio extra */
        margin-top: 0;
        width: 100%;
        position: relative; /* Asegura que el z-index funcione */
        z-index: 1; /* Menor que el z-index del header */
        display: flex;
        justify-content: center;
        align-items: center;
        .columns {
            width: 100%;
            max-width: $container-max-width; // Asumiendo que tienes esta variable definida
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;

            .left-column,
            .right-column {
                width: 50%;
            }
            .right-column {
                display: flex;
                justify-content: flex-end;
            }
            .image-container {
                width: 400px;
                border-radius: 30% !important;
                overflow: hidden;
                background-color: $base-color;
                display: flex;
                justify-content: center;
                @media screen and (max-width: $almost-mobile) {
                    width: 250px;
                    aspect-ratio: 1/1;
                    display: flex;
                    align-items: center;
                    height: 250px;
                    border-radius: 20% !important;
                    overflow: hidden;
                    background-color: $base-color;
                    display: flex;
                    position: relative;
                }
                img {
                    width: 100%;
                    height: auto;
                    @media screen and (max-width: $almost-mobile) {
                        width: 100%;
                        height: auto;
                        min-height: 100%;
                        object-fit: cover;
                        position: absolute;
                        top: 0;
                    }
                }
            }

            .heading-text {
                margin-top: 30px;
                margin-bottom: 30px;
            }

            .small-text {
                margin-bottom: 30px;
            }

            .accent-color {
                color: $base-color;
            }

            p {
                text-wrap: balance;
            }

            .ctas {
                margin-top: 20px;
                display: flex;
                flex-direction: row;
                gap: 20px;
                width: 100%;
                margin-bottom: 20px;
            }

            @media screen and (max-width: $almost-mobile) {
                flex-direction: column-reverse;
                align-items: center;
                height: auto;
                .left-column,
                .right-column {
                    text-align: center !important;
                    justify-content: center !important;
                    width: 70%;
                    .ctas {
                        justify-content: center !important;
                    }
                }
            }
        }
    }

    .scroll-arrow {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);

        .arrow {
            width: 30px;
            height: 30px;
            border-right: 3px solid $base-color;
            border-bottom: 3px solid $base-color;
            transform: rotate(45deg);
            animation: arrow-bounce 2s infinite;
            opacity: 1;
        }

        @keyframes arrow-bounce {
            0% {
                transform: rotate(45deg) translate(0, 0);
            }
            50% {
                transform: rotate(45deg) translate(10px, 10px);
            }
            100% {
                transform: rotate(45deg) translate(0, 0);
            }
        }
    }
</style>

<main class="container" id="about">
    <div class="columns">
        <div
            class={`left-column ${import.meta.env.DEV ? "border-visual-debug" : ""}`}
        >
            <p class="base-text base-text-typo">{t("about.intro")}</p>
            <h1 class="heading-text heading-text-typo">
                {t("about.im")}
                <span class="accent-color">Gustavo</span>
            </h1>
            <p class="base-text" set:html={t("about.description")} />
            <div class="ctas">
                <Cta
                    text="Linkedin"
                    imageSrc="/linkedin.svg"
                    imageWidth={25}
                    url="https://www.linkedin.com/in/gustavo-keymetlian"
                    isPrimary={true}
                />
                <Cta
                    text="Github"
                    imageSrc="/github.svg"
                    imageWidth={25}
                    url="https://github.com/guskpo20"
                    isPrimary={false}
                />
            </div>
        </div>
        <div
            class={`right-column ${import.meta.env.DEV ? "border-visual-debug" : ""}`}
        >
            <div class="image-container">
                <img src="/tavo.png" alt="Tavo Dev" width="250" />
            </div>
        </div>
    </div>
    <div class="scroll-arrow">
        <a href="#services" target="_self"><div class="arrow"></div></a>
    </div>
</main>
