
<style lang="scss">
    @import '../styles/variables.scss';

    .position-relative{
        height: 500px;
    }

    .container {
        padding: 30px 50px;
        position: absolute;
        width: 100%;
        top: -350px;
        left:0;
        right:0;
        margin-left:auto;
        margin-right:auto;

        h2{
            margin-bottom: 30px;
            color: $base-color;
            text-align: center;
             /* @media screen and (max-width: $mobile) {
                font-size: 35px;
             } */
        }

        .base-text{
            text-align: center;
            margin-bottom: 50px;
        }

        >div{
            padding: 20px 50px;
            background-color: $base-color;
            color: #f2f2f2;
        }
        @media screen and (max-width: $mobile) {
            padding-left: 20px;
            padding-right: 20px;
        }

        input[type=text], select, textarea {
            width: 100%; /* Full width */
            padding: 12px; /* Some padding */ 
            border: 1px solid #ccc; /* Gray border */
            border-radius: 4px; /* Rounded borders */
            box-sizing: border-box; /* Make sure that padding and width stays in place */
            margin-top: 6px; /* Add a top margin */
            margin-bottom: 16px; /* Bottom margin */
            resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
        }

        /* Style the submit button with a specific background color etc */
        input[type=submit] {
            background-color: $accent-color;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        /* When moving the mouse over the submit button, add a darker green color */
        input[type=submit]:hover {
            background-color: #45a049;
        }

        /* Add a background color and some padding around the form */
        .container {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }


    }



</style>


<section class="position-relative">
    
    <div class="container">
        <h2 class="heading-text">Contact Me</h2>
        <p class="base-text">Have a question or want to work together? Just fill out the form below and I'll get back to you as soon as possible. Let's work together to create something amazing!</p>
        <div>
            <form>
                <label for="fname">First Name</label>
                <input type="text" id="fname" name="firstname" placeholder="Your name..">
    
                <label for="email">Email</label>
                <input type="text" id="email" name="lastname" placeholder="email@email.com">
    
                <label for="subject">Subject</label>
                <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
    
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</section>