---
import { languages, getLanguageFromURL, useTranslations } from "../i18n/utils";
import Cta from "./cta.astro";

const { pathname } = Astro.url;
const currentLang = getLanguageFromURL(pathname);
const t = useTranslations(currentLang);
---

<style lang="scss">
    @import "../styles/variables.scss";

    .container {
        padding: 90px 50px;

        h2 {
            margin-bottom: 30px;
            color: $base-color;
            text-align: center;
        }

        .base-text {
            text-align: center;
            margin-bottom: 50px;
        }

        > div {
            padding: 20px 50px;
            background-color: $base-color;
            color: #f2f2f2;
        }
        @media screen and (max-width: $mobile) {
            padding-left: 20px;
            padding-right: 20px;
        }

        .ctas {
            background-color: transparent;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 20px;
            width: 100%;
            justify-content: center;
        }
    }
</style>

<section class="position-relative" id="contact">
    <div class="container">
        <h2 class="heading-text">{t("contact.title")}</h2>
        <p class="base-text" set:html={t("contact.description")} />

        <div class="ctas">
            <Cta
                url="mailto:gustavo.keymetlian@outlook.com?Subject=Work with me!"
                imageSrc="/mail.svg"
                imageWidth={25}
                isPrimary={true}
                text=`${t('contact.title')}`
            />
            <Cta
                text="Linkedin"
                imageSrc="/linkedin.svg"
                imageWidth={25}
                url="https://www.linkedin.com/in/gustavo-keymetlian"
                isPrimary={false}
            />
        </div>

        <!-- <div>
            <form>
                <label for="fname">{t('contact.firstName')}</label>
                <input type="text" id="fname" name="firstname" placeholder={`${t('contact.firstName')}`}>
    
                <label for="email">Email</label>
                <input type="text" id="email" name="lastname" placeholder="email@email.com">
    
                <label for="subject">{t('contact.subjectTitle')}</label>
                <textarea id="subject" name="subject" placeholder={`${t('contact.subject')}`} style="height:200px"></textarea>
    
                <input type="submit" value="Submit">
            </form>
        </div> -->
    </div>
</section>
